[submodule "extern/imgui"]
	path = extern/imgui
	url = https://github.com/ocornut/imgui
[submodule "extern/bullet3"]
	path = extern/bullet3
	url = https://github.com/bulletphysics/bullet3.git
[submodule "extern/glfw"]
	path = extern/glfw
	url = https://github.com/glfw/glfw.git
[submodule "extern/glm"]
	path = extern/glm
	url = https://github.com/g-truc/glm.git
[submodule "extern/glew"]
	path = extern/glew
	url = https://github.com/edoren/glew.git
[submodule "extern/imguizmo"]
	path = extern/imguizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
[submodule "extern/yaml-cpp"]
	path = extern/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
